<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ExtentReportsManager"></listener>
	</listeners>

	<test thread-count="5" name="Test1">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="TestCases.HomePage" />
			<class name="TestCases.TravellerDetail" />
			<class name="TestCases.TravelPolicies" />
		</classes>
	</test>

	<test thread-count="5" name="Test2">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="TestCases.CarValidation" />
		</classes>
	</test>

	<test thread-count="5" name="Test3">
		<parameter name="browser" value="edge" />
		<groups>
			<run>
				<include name="regression"></include>
			</run>
		</groups>

		
	</test>
</suite>










<!--  <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ExtentReportsManager"></listener>
	</listeners>



  <test thread-count="5" name="Test">
  	<parameter name ="browser" value="chrome"/>
  	
  	<classes>
       <class name="TestCases.HomePage"/>
       <class name="TestCases.TravellerDetail"/>
       <class name="TestCases.TravelPolicies"/> 
       <class name="TestCases.CarValidation"/> 
    </classes> 
    </test> 
    
   <test thread-count="5" name="Test2">
   <parameter name ="browser" value="edge"/>
   <groups>
  		<run>
  			<include name="regression"></include>
  		</run>
  	</groups>
  	
  	<classes>
          <class name="TestCases.regressionTest"/> 
    </classes>
  </test> 
</suite> -->
